<!doctype html>
	<title>After the Tone</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<body class="container">
	  <header>
	  	    <!-- Fixed navbar -->
		    <div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/">After the Tone | Control Panel</a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
	                <li class="active"><a href="#">Performance One</a></li>
	                <li><a href="#">Performance Two</a></li>
	                <li><a href="#">Performance Three</a></li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
	  </header>

	  <section id="monologue" class="row">
	  	<div class="col-lg-6 col-md-6 col-6 col-offset-1">
			<h2>When people call this number</h2>
			<h1>415-741-2078</h1>
		</div>
		<div class="col-lg-4 col-md-4 col-4">
			<h2>they'll hear this message</h2>
			<audio src="http://after-the-tone.s3-us-west-1.amazonaws.com/i-have-died.mp3"controls>
				<p>Your browser does not support the audio element.</p>
			</audio>
		</div>
	  </section>

	  <section id="collected-numbers">
		<h2>When you're ready, click this button to get all the numbers</h2>
		<button id="get-collected-numbers" type="button" class="btn btn-default">Get Collected Numbers</button>
		<ul>
		</ul>
	</section>

	  <section id="death-switch" class="row">
	  	<div class="col-lg-5 col-md-5 col-5 col-offset-1">
	    	<h2>then throw the Death Switch</h2>
	        <button id="death-switch-btn" type="button" class="btn btn-block btn-warning"><img src="static/death.svg"></button>
		</div>
		<div class="col-lg-6 col-md-6 col-6">
	  		<h2>to send this message (click to edit)</h2>
		    <p id="death-switch-message" class="edit_area">
		    	{{ death_switch_message }}
		    </p>
	    </div>
	  </section>

	  <section id="death-texts">
	  	<h2>TODO: when they text in, send back one of these.</h2>
		<ul>
			{% for death_text in death_texts %}
			<li>{{ death_text }}</li>
			{% endfor %}
		</ul>
	  </section>

	<section id="collected-voicemails">
		<h2>Todo: Collected Voicemails</h2>
		<ul>
			{% for voicemail in voicemails %}
			<li>{{ voicemail }}</li>
			{% endfor %}
		</ul>
	</section>

	  <footer>
	  </footer>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
     $('.edit_area').editable('/save_text', { 
         cancel    : 'Cancel',
         submit    : 'OK',
         tooltip   : 'Click to edit...'
     });

     var numbers = [];

     $("#get-collected-numbers").click(function(evt){
		$.get('/get_numbers', function(response){
			var response = $.parseJSON(response);
			$.each(response, function(i){
				$('#collected-numbers ul').append('<li>'+response[i]+'</li>');
				numbers.push(response[i]);
			})
		})
	})

     $("#death-switch-btn").click(function(evt){
		// console.log($("#death-switch-message").html());
		$.each(numbers, function(i){
			$.get('/send_sms/'+numbers[i]+'/'+$("#death-switch-message").html(), function(response){
			console.log(response);
			})
			});
	})
 });


</script>
</html>
