<!doctype html>
	<title>After the Tone</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<body class="container">
	  <header>
	  	    <!-- Fixed navbar -->
		    <div class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/">After the Tone | Control Panel</a>
		        </div>
		      </div>
		    </div>
	  </header>

	  <section id="monologue" class="row">
	  	<div class="col-lg-6 col-md-6 col-6 col-offset-1">
			<h2>When people call this number</h2>
			<h1>415-741-2078</h1>
		</div>
		<div id="collected-recordings" class="col-lg-4 col-md-4 col-4">
			<h2>they'll be asked to leave a message.</h2>
			<button id="get-collected-recordings" type="button" class="btn btn-default">Get Collected Recordings</button>
			<ul>
			</ul>
		</div>
	  </section>

	  <section id="collected-numbers">
		<h2>When you're ready, click this button to get all the numbers</h2>
		<button id="get-collected-numbers" type="button" class="btn btn-default">Get Collected Numbers</button>
		<ul>
		</ul>
	</section>

	  <section id="death-switch" class="row">
	  	<div class="col-lg-5 col-md-5 col-5 col-offset-1">
	    	<h2>then throw the Death Switch</h2>
	        <button id="death-switch-btn" type="button" class="btn btn-block btn-warning"><img src="static/death.svg"></button>
		</div>
		<div class="col-lg-6 col-md-6 col-6">
	  		<h2>to send this message (click to edit)</h2>
		    <p id="death-switch-message" class="edit_area">
		    	{{ death_switch_message }}
		    </p>
	    </div>
	  </section>

	  <section id="death-texts" class="row">
	  	<div class="col-lg-7 col-md-7 col-7 col-offset-1">
		  	<h2>when they text in, send back one of these.</h2>
			<ul>
				{% for death_text in death_texts %}
				<li>{{ death_text }}</li>
				{% endfor %}
			</ul>
		</div>
	  </section>



	  <footer>
	  </footer>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
     $('.edit_area').editable('/save_text', { 
         cancel    : 'Cancel',
         submit    : 'OK',
         tooltip   : 'Click to edit...'
     });

     var numbers = [];

     $("#get-collected-numbers").click(function(evt){
		$.get('/get_numbers', function(response){
			var response = $.parseJSON(response);
			$.each(response, function(i){
				$('#collected-numbers ul').append('<li>'+response[i]+'</li>');
				numbers.push(response[i]);
			})
		})
	})

     $("#death-switch-btn").click(function(evt){
		// console.log($("#death-switch-message").html());
		$.each(numbers, function(i){
			$.get('/send_sms/'+numbers[i]+'/'+$("#death-switch-message").html(), function(response){
			console.log(response);
			})
			});
	})

     $("#get-collected-recordings").click(function(evt){
		$.get('/get_recordings', function(response){
			var response = $.parseJSON(response);
			$.each(response, function(i){
				var recordingUrl = 'https://api.twilio.com/2010-04-01/Accounts/AC86571af1ee82e2b4e36e3c23d185f7c3/Recordings/'+response[i]['sid'];
				$('#collected-recordings ul').append('<li><audio src="'+recordingUrl+'" controls></audio></li>');
			})
		})
	})
 });


</script>
</html>
